<mat-toolbar class="toolbar">
  <a
    mat-button
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Employee Portal
  </a>
  <ng-container *ngIf="!notdisplaysearch">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>search employee</mat-label>
        <input
          type="search"
          matInput
          class="form-control"
          #searchInput
          (input)="searchEmployees(searchInput.value)"
        />
      </mat-form-field>
    </form>
  </ng-container>
</mat-toolbar>
