<mat-card>
  <ng-container #appHighlighter="hl" [appHighlighted]="true">
    <div class="emloyee-child-card">
      <ng-content select=".img"></ng-content>
      <div>
        <div>
          <span class="name"
            >{{ employee.firstname | titlecase }}
            {{ this.lastname | titlecase }}</span
          >
        </div>
        <div class="align-right">
          <button
            mat-fab
            extended
            (dblclick)="appHighlighter.toggle(false)"
            class="btn btn-primary"
            (click)="view(employee.id)"
            style="margin-left: 100px"
            [ngStyle]="{ background: ' rgb(98, 94, 92)' }"
          >
            View
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</mat-card>
