<app-header (search)="searchEmployees1($event)"></app-header>
<ng-container *ngIf="showspinner"><mat-spinner></mat-spinner></ng-container>

<!-- <mat-progress-spinner value="60"></mat-progress-spinner> -->
<div
  (scroll)="f1($event)"
  #scrollbardiv
  id="scrollbardiv"
  style="overflow-y: scroll; height: 470px; width: 1250px"
>
  <ng-container *ngIf="employeesToDisplay?.length != 0">
    <div class="employee-card">
      <app-employee-card
        [appHighlighted]="false"
        (toggleHighlight)="toggle($event)"
        *ngFor="
          let e of employeesToDisplay;
          first as isfirst;
          trackBy: refreshemp
        "
        [class.is-first]="isfirst"
        [employee]="e"
        (employeeSelected)="selectedEmpDetails($event)"
      >
        <div class="img" #imgcontent [ngStyle]="{ paddingRight: '120px;' }">
          <app-employee-image [profile]="e.profile"></app-employee-image>
        </div>
      </app-employee-card>
    </div>
  </ng-container>
  <ng-container *ngIf="employeesToDisplay?.length == 0">
    <div class="row mt-5">
      <div class="col text-center">
        <h2
          class="text-secondary fs-2 fw-bold fst-italic"
          style="padding-left: 700px; padding-top: 100px"
        >
          There are No Employees Added!
        </h2>
      </div>
    </div>
  </ng-container>
</div>
