<app-header [notdisplaysearch]="true"></app-header>
<mat-spinner *ngIf="showspinner"></mat-spinner>
<mat-card>
  <ng-container #appHighlighter="hl" [appHighlighted]="true">
    <div class="course-card">
      <div
        style="
          padding-left: 10px;
          background-color: rgb(141, 139, 138);
          padding-top: 5px;
          float: left;
          width: 500px;
          height: 455px;
        "
      >
        <img
          mat-card-image
          src="../../assets/Images/{{ employee.profile }}"
          alt="Profile Image"
          class="profile"
          style="
            width: 25rem;
            height: 25rem;
            image-resolution: 50%;
            opacity: 0.8;
            box-shadow: 50%;
            border-radius: 50%;
          "
        />
        <div class="name">
          {{ employee.firstname | titlecase }}
          {{ employee.lastname | titlecase }}
        </div>
      </div>
      <div>
        <div class="">
          <div
            style="
              padding-top: 50px;
              padding-right: 20px;
              height: 20px;
              width: 250px;
              float: left;
            "
          >
            <table mat-table [dataSource]="dataSource1">
              <ng-container matColumnDef="col">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  style="font-size: 0.9rem; font-weight: 500"
                >
                  Job Details
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.col }}
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="colvalue">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  {{ element.colvalue }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
            </table>
          </div>
          <div
            style="padding-top: 50px; height: 20px; width: 250px; float: right"
          >
            <table mat-table [dataSource]="dataSource" style="height: 10px">
              <ng-container matColumnDef="col">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  style="font-size: 0.85rem; font-weight: 500"
                >
                  Personal Details
                </th>
                <td mat-cell *matCellDef="let element">{{ element.col }}</td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="colvalue">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  {{ element.colvalue }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <button
              mat-fab
              extended
              class="btn btn-outline-success"
              (click)="back()"
              style="margin-top: 210px; margin-left: 120px"
              [ngStyle]="{ background: ' rgb(98, 94, 92)' }"
            >
              <mat-icon>arrow_back</mat-icon>
              Back
            </button>
          </div>
        </div>
        <div style="height: 100px; float: left"></div>
      </div>
    </div>
  </ng-container>
</mat-card>
